
<div *ngIf="!node.filtered" class="list-group-item" id="n{{ node.id }}" [ngClass]="{'focusOnDiv': focusOnNode === node.id}">
    <a href="#{{ node.id }}"></a>

    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-7">
            <div [ngStyle]="{'padding-left': getIndentation()}">
                <!-- Icona da aprire --><i *ngIf="node.children.length > 0 && !node.expanded" class="fa fa-folder cursor-pointer text-primary" aria-hidden="true" (click)="node.toggle()"></i>
                <!-- Icona da chidere --><i *ngIf="node.children.length > 0 && node.expanded" class="fa fa-folder-open cursor-pointer  text-primary" aria-hidden="true" (click)="node.toggle()"></i>
                <!-- Icona da chidere --><i *ngIf="node.children.length === 0" class="fa fa-circle-thin text-primary" aria-hidden="true"></i>
                <!--[ngClass]="{'focusOnFont': focusOnNode === node.id}" -->

                {{ node.description }}
            </div>
        </div>

        <div class="col-1 d-none d-md-block">
            {{ node.title }}
        </div>
        <div class="col-1 d-none d-md-block">
            {{ node.code1 }}
        </div>
        <div class="col-1 d-none d-md-block">
            {{ node.code2 }}
        </div>
        <div class="d-none d-sm-block col-2">
            <div class="btn-group btn-group-sm pull-right" role="group">
                <button type="button" class="btn btn-secondary" [routerLink]="[node.edit]"><i class="fa fa-eye" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
        </div>

    </div>
</div>
<div  *ngIf="node.expanded" >
    <div *ngFor="let child of node.children">
        <app-tree-view-node
                [indent]="indent + 1"
                [node]="child"
                [focusOnNode]="focusOnNode"
        ></app-tree-view-node>
    </div>
</div>