@-webkit-keyframes fadeItDiv {
  0%   { background-color: lightgray; }
  20%   { background-color: lightgray; }
  100% { background-color: #fff; }
}
@-moz-keyframes fadeItDiv {
  0%   { background-color: lightgray; }
  20%   { background-color: lightgray; }
  100% { background-color: #fff; }
}
@-o-keyframes fadeItDiv {
  0%   { background-color: lightgray; }
  20%   { background-color: lightgray; }
  100% { background-color: #fff; }
}
@keyframes fadeItDiv {
  0%   { background-color: lightgray; }
  20%   { background-color: lightgray; }
  100% { background-color: #fff; }
}

.focus-item{
  -webkit-animation: fadeItDiv 1s ease-in-out;
  -moz-animation: fadeItDiv 1s ease-in-out;
  -o-animation: fadeItDiv 1s ease-in-out;
  animation: fadeItDiv 1s ease-in-out;
}

.first-item {
  border-radius: .25rem .25rem 0rem 0rem;
}

.last-item {
  border-radius: .0rem .0rem .25rem .25rem;
}

.middle-item {
  border-radius: .0rem .0rem .0rem .0rem !important;
}

